extends ../templates/main

block main
  h2.grid_12.no-print Contact
  .grid_4.contact_1
    | Email: 
    a(href='mailto:#{email}') #{email}
  .grid_4.contact_2
    | Twitter: 
    a(href='http://twitter.com/#{twitter}') @#{twitter}
  .grid_4.contact_3
    | Github: 
    a(href='https://github.com/#{github}') #{github}

  h2.grid_12 Education
  .grid_9
    |  #{education.university}
    br
    |  #{education.degree}
    br
  .grid_3.right
    |  Graduation: #{education.graduation}
    br
    |  GPA: #{education.gpa}
  h3.grid_12 Topics

  - var numCols = 3;
  - var topics = education.topics;
  - var numRows = Math.ceil(topics.length / numCols);
  - for (var i = 0; i < numCols; i++) {
    .grid_4
      ul
        - for (var j = 0; j < numRows && (numCols*i + j < topics.length); j++) {
          li #{topics[numRows*i + j]}
        - }
  - }

  h3.grid_12 Languages
  - var topics = languages;
  - var numCols = 4;
  - var numRows = Math.ceil(topics.length / numCols);
  - for (var i = 0; i < numCols; i++) {
    .grid_3
      ul
        - for (var j = 0; j < numRows; j++) {
          - var topic = topics[numRows*i + j]
          li #{topic.name}
        - }
    - }

  h2.grid_12 Experience
  .grid_6.res-exp
    h3
      | Google - AngularJS 
      sup
        a(href='//angularjs.org') link
    |  Software Engineer Intern (May to August 2012)
    :markdown
      Wrote a Chrome extension to help visualize, profile, and debug web applications using AngularJS — an open source, client-side JavaScript framework. Also created the [Build with AngularJS](http://builtwith.angularjs.org/) community site, answered [mailing list](https://groups.google.com/forum/?fromgroups#!forum/angular) questions, fixed bugs, and improved the documentation.
  .grid_6.res-exp
    h3 Michigan Interactive and Social Computing 
      sup
        a(href='//misc.si.umich.edu/') link
    |  Web Application Developer (May to September 2011)
    p Wrote and maintained a Firefox extension and web application used in research to gather data on reading habits of social news site users. Worked on a Facebook application allowing users to share exercise habits from pedometers and encourage each other to set and meet goals.
  .grid_6.clearhack.res-exp
    h3  Whirlpool Corporation
    |  Software Development Summer Intern (May to August 2010)
    p Worked in a software team developing using the Agile software development techniques to maintain a GUI framework in C for an embedded platform. Wrote unit tests, optimized components of the framework, debugged issues.
  .grid_6.res-exp
    h3
      |  Lakeshore Public High School 
      sup
        a(href='http://www.lakeshoreschools.k12.mi.us/high/') link
    |  IT Assistant
    |  (August 2008 to May 2009)
    p Maintained the network, servers, computers and other technology resources at a public school. Performed both hardware and software maintenance on hundreds of computers.
  h2.grid_12 Skills
  for skill in skills
    .grid_6.res-exp
      h3 #{skill.name}
      .indent #{skill.explain}

  .grid_12.no-print
    :markdown
      References available upon request
    //-
      [Download my Resume (as a PDF)](/files/resume.2011.09.26.pdf)
