extends ../templates/main

block main
  h2 Blog
  section
    for item in posts
      p
        span.date [#{item.date}] 
        a(href='#{item.link}') #{item.title}
        if item.feat
          |  | Featured
          if item.feat.on
            |  on  
            a(href='#{item.feat.link}') #{item.feat.on}
          if item.feat.in
            |  in  
            a(href='#{item.feat.link}') #{item.feat.in}
